.messenger {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  @media all and (max-width: 768px) {
    flex-direction: column;
    .chatOnline {
      display: none;
    }
  }
}

.chatMenu {
  flex: 1.5;
  border-left: 2px solid var(--border-color);
  background: var(--background-important) !important;
}

.chatBox {
  flex: 5;
  margin-bottom: 5px;
}

.chatOnline {
  flex: 2.5;
  margin-top: 60px;
}
.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  height: 100%;
  background: var(--background-less-important);
}

.chatMenuWrapper{
  background: var(--background-important) !important;
}

.chatBoxWrapper {
  padding: 0em .8em .8em .8em;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
}

.chatBoxTop {
  height: 100vh;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatMenuInput {
  width: 90%;
  border: none;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  background: none;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & input {
    width: 100%;
    font-size: 1.1em;
    resize: none;
    font-family: "Poppins";
    padding: .75em 1em;
    border: 2px solid var(--border-color);
    border-radius: .75em;
    margin-right: 1em;
  }
  & img {
    width: 3.35em;
    height: 3.35em;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    background-color: var(--button-bg);
    padding: .6em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05) rotate(10deg);
    }
  }
}

.noConversationText {
  position: absolute;
  top: 10%;
  text-align: center;
  font-size: 40px;
  color: rgb(223, 213, 213);
  cursor: default;
}
