.blogs {
  max-width: calc(1920px - 2 * 250px);
  // margin: 0 auto;
  border: 0.25px solid rgba(141, 141, 141, 0.085);
  margin-bottom: 60px;
  @media (max-width: 1300px) {
    max-width: calc(1300px - 2 * 210px);
    // padding-bottom: 75px;
  }
  @media (max-width: 880px) {
    max-width: calc(880px - 2 * 100px);
    padding: 30px 0 50px;
    // padding-bottom: 40px;
  }
  @media (max-width: 767px) {
    padding: 20px 0 35px;
    max-width: 100%;
    margin: 0 20px;
    // padding-bottom: 30px;
  }

  .blogs_title {
    color: #5928e5;

    font-size: 1.2em;
    padding: 0.35em 0.5em;
    border-bottom: 0.25px solid rgba(141, 141, 141, 0.085);
    font-family: "Integral CF Demi Bold";
  }
}
