.container {
    width: 100%;
    height: 100vh;
    background: var(--purple);

    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 900px) {
        // padding: 10% 0;
        // height: auto;
        // flex-direction: column;
    }
}

.header {
    width: 25%;
    height: 100vh;
    border-right: 0.5px solid #ffffff20;
    overflow: scroll;
}

.play_area {
    width: 85%;
    height: 100vh;
    position: relative;
    background: var(--purple);
}

.question {
    width: 95%;
    height: 65%;
    display: flex;
    font-size: 2.5em;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 0% 7%;
    position: relative;
    text-align: center;
    font-family: "Integral CF Extra";
    color: #fff;
}

.anwsers {
    border-top: 0.5px solid #ffffff15;
    width: 100%;
    height: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1.5em 1em 0em 1em;
}

.anwser {
    width: 47.5%;
    height: 40%;
    color: var(--purple);
    font-weight: 700;
    font-size: 1.5em;
    font-family: "Integral CF Extra";
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    border-radius: 2222px;
    border: 0.5px solid #ffffff20;
    color: #fff;
    background: #ffffff10;

    &:hover {
        background: #ffffff30;
        color: white;
        border: 0.5px solid #ffffff;
    }
}

.bar {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 2em;
    border-bottom: 0.5px solid #ffffff15;
}

.bar_value {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Integral CF Extra";
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 900;
    font-size: 2.75em;
    color: white;
}

.button {
    margin-top: 1.5em;
    font-size: 1em;
    padding: 0.75em 1.25em;
    border: 0.35px solid #ffffff;
    transition: all ease-in-out 0.3s;
    background: #5928e5;
    font-weight: 500em;
    color: white;
    border-radius: 1000px;
}

.button:hover {
    border: 0.35px solid #ffffff50;
    background: #ffffff10;
}

.stats_title {
    height: 2em;
    font-family: "Integral CF Extra";
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    vertical-align: center;
    text-align: center;
    border-bottom: 0.5px solid #ffffff15;
}

.general_stats {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.75em;
}

.general_corrector {
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0.75em;
}

.stats_boxes {
    position: relative;
    width: 45.75%;
    height: 45.75%;
    display: flex;
    justify-content: center;
    border-radius: 1.4em;
    align-items: center;
    flex-direction: column;
    background: #ffffff10;
    margin-bottom: 0.75em;
    cursor: pointer;
    transition: 0.4s ease-in-out all;

    &:hover {
        background: #ffffff20;
    }
}

.questions_boxes {
    position: relative;
    width: 91.5%;
    height: 45.75%;
    display: flex;
    justify-content: center;
    border-radius: 1.4em;
    align-items: center;
    flex-direction: column;
    background: #ffffff10;
    margin-bottom: 0.75em;

    &:last-child {
        margin-bottom: 1em;
    }
}

.stats_icon {
    font-family: "Integral CF Extra";
    font-size: 2em;
    color: white;
}

.question_which {
    font-family: "Integral CF Extra";
    font-size: 1.25em;
    color: white;
}

.stats_description {
    font-size: 0.95em;
    color: white;
    width: 90%;
    text-align: center;
    font-size: 0.95em;
    color: white;
}

.view_container {
    width: 100%;
    padding: 1.5em 1.25em 1.25em 1.25em;
}

.view_wrapper {
    border-radius: 1.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view_option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.65em 1em;
    border-radius: 1.4em;
    cursor: pointer;

    &:first-child {
        margin-right: 0.2em;
    }

    &:last-child {
        margin-left: 0.2em;
    }
}

.view_icon {
    fill: var(--white);
    height: 1em;
    margin-right: 0.65em;
}

.view_item_text {
    font-size: 1.1em;
    color: var(--white);
    position: relative;
}

.question_current {
    width: 80%;
    color: var(--white);
}

.mute {
    background: #ffffff10;
    border-radius: 100%;
    margin-top: 1em;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    border: 0.5px solid transparent;
    transition: all ease-in-out 0.4s;
    cursor: pointer;
    fill: #ffffff;

    &:hover {
        background: #ffffff30;
        color: white;
        border: 0.5px solid #ffffff;
    }
}

.notification {
    font-family: "Integral CF Extra";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    position: absolute;
    right: -8px;
    background: white;
    color: var(--purple);
    border-radius: 100%;
    top: -26px;
    font-size: 0.9em;
}

.nothing {
    width: 90%;
    text-align: center;
    font-family: "Integral CF Extra";
    color: white;
    font-size: 1.65em;
    margin-top: -1em;
    margin-right: .5em;
}
