.header {
    display: block;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
    background: var(--purple);
    z-index: 100;

    @media screen and (max-width: 900px) {
        display: none;
    }
}


.right {
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;
    font-family: "Integral CF Extra";
    font-size: 1em;
    color: #fff;
    margin-right: 1rem;
    transition: all ease-in-out 0.5s;
    cursor: pointer;

    @media screen and (max-width: 900px) {
        margin-bottom: 1em;
        font-size: 1.85em;
    }
}

.link:hover {
    letter-spacing: 1px;
}

.logo {
    display: flex;
    align-items: center;
    height: 2.3em;
    margin-right: 1.25em;
    fill: #fff;
}

.mobile {
    display: block;

    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    background: var(--purple);
    z-index: 100;

    @media screen and (min-width: 900px) {
        display: none;
    }
}

.menu_icon{
    margin-top: .085em;
    height: 1.6em;
    fill: white;
    cursor: pointer;
    margin-left: 1em;
}

.close_icon{
    position: absolute;
    top: 1em; right: 1em;
    fill: white;
    height: 1em;
}

.menu_icon:hover{
    opacity: .8;
}

.screen{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: var(--purple);
    top: 0; right: 0;
    z-index: 100220;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}