.container {
    width: 70%;
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
}

.slides {
    padding: 0em 1em;
    width: auto;
    height: 25vh;
    border-top: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.box_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes {
    width: 48%;
    height: 20vh;
    border: 2px solid var(--border-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}

.quiz_list {
    padding: 1em;
    display: flex;
}

.single_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    padding: 1em;
    margin-right: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    transition: all ease-in-out 0.3s;
    color: var(--text-color);

    &:hover {
        background: rgba(141, 141, 141, 0.02);
    }

    position: relative;
}

.delete {
    position: absolute;
    top: 1em;
    right: 1em;
}

.single_slide_active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 80%;
    padding: 1em;
    margin-right: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    transition: all ease-in-out 0.3s;
    color: var(--text-color);
    background: red;

    &:hover {
        background: rgba(141, 141, 141, 0.02);
    }

    position: relative;
}

.add_slide {
    width: 100%;
    background: #f5f5f520;
    height: 20%;
    padding: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;

    &:hover {
        background: #f5f5f550;
    }
}

.header {
    width: 30%;
    height: 100vh;
    border-left: 2px solid var(--border-color);
    display: flex;
    flex-direction: column;
    background: var(--background-important);
    position: relative;
}

.header_container {
    padding: 1em;
    overflow-y: scroll;
}

.empty_text {
    font-size: 1.15em;
}

.mini_title {
    font-size: 1.12em;
    font-family: "Integral CF Demi Bold";
}

.navicon_wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: rgba(141, 141, 141, 0.09);
    }
}

.right_wrapper {
    width: 100%;
}

.current_slide {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.empty_slide {
    width: 65vw;
    height: 75vh;
    margin-right: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    height: 1.5em;
    fill: var(--text-color);
}

.notification_title {
    font-size: 1.25em;
    margin-left: 0.5em;
    font-weight: 600;
    color: var(--text-color)
}

.publish_cta {
    width: 49%;
    padding: 0.75em;
    font-size: 1.2em;
    border-radius: 0.75em;
    display: flex;
    align-items: center;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    background: transparent;
    transition: 0.3s all ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--background-less-important);
    }
}

.publish_options {
    border-top: 2px solid var(--border-color);
    width: 92%;
    position: absolute;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    display: flex;
    bottom: 0;
    right: 1em;
    justify-content: space-between;
    background: var(--background-important)
}

.current_question {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    border: 2px solid var(--border-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.current_question_input {
    width: 90%;
    font-size: 2.75em;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 0;
    background: transparent;
    transition: 0.3s ease-in-out all;
    color: var(--text-color);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    resize: none;

    &::placeholder {
        opacity: 0.7;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:focus {
        height: 70%;
    }
}

.option_active {
    width: 49.15%;
    height: 49.15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    border: 1px solid var(--border-active);

    &:first-child {
        margin-bottom: 1em;
    }
}

.options_wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0em;
    justify-content: space-between;
}

.option {
    width: 49.15%;
    height: 49.15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    border: 2px solid var(--border-color);
    transition: 0.3s ease-in-out all;

    &:first-child {
        margin-bottom: 1em;
    }

    &:hover {
        border: 0.25px solid rgba(141, 141, 141, 0.4);
    }
}

.option_input {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 0;
    transition: 0.3s ease-in-out all;
    background: transparent;
    color: var(--text-color);

    &::placeholder {
        color: var(--text-color);
        opacity: 0.7;
    }

    &:active {
        color: 0.25px solid rgba(141, 141, 141, 0.4);
    }

    &:hover {
        color: 0.25px solid rgba(141, 141, 141, 0.4);
    }
}

.option_check {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_check_icon {
    fill: var(--text-color);
    margin-right: -2.75em;
}

._container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1222;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18181895;
}

._modal {
    width: 33%;
    height: 67.5vh;
    background: #fff;
    box-shadow: #33333315 -0.25em 0.25em 1em;
    border-radius: 1em;
    position: relative;
    padding: 1em 1em;
    border: 2px solid var(--border-color);

    overflow: scroll;
}

._modal_small {
    width: 33%;
    height: 50vh;
    background: #fff;
    box-shadow: #33333315 -0.25em 0.25em 1em;
    border-radius: 1em;
    position: relative;
    padding: 1em 1em;
    border: 2px solid var(--border-color);

    overflow: scroll;
}

._close_icon {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.2345em;
    fill: black;
    stroke: black;
    width: 2em;
    height: 2em;
    border-radius: 120px;

    &:hover {
        background: #33333310;
    }
}

._modal_title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.25em;
    padding: 0.35em 0em;
    border-bottom: 2px solid var(--border-color);
    color: var(--text-color);
}

._form_wrapper {
    margin: 1em 0em;
}

._form_label_name {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

._form_input {
    width: 100%;
    margin-top: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 1.15em;
    padding: 0.65em 0.75em;
    border-radius: 1em;
    border: 2px solid var(--border-color);
    margin-right: 0.25em;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    background: transparent;
    color: var(--text-color);

    &:active {
        border: 2px solid rgba(125, 99, 196, 0.314);
    }

    &:hover {
        background: #f1f1f130;
    }
}

.savingit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.publishing_title {
    color: var(--text-color)
}

.copy_code {
    width: 100%;
    padding: 1em 2.25em 1em 1em;
    border-radius: 0.85em;
    background: transparent;
    border: 2px solid var(--border-color);
    transition: 0.3s ease-in-out all;
    position: relative;

    &:hover {
        background: rgba(141, 141, 141, 0.05);
        border: 2px solid var(--border-color);
    }

    user-select: none;

    margin: 1em 0em;
}

.copy_code_icon {
    position: absolute;
    top: 30%;
    right: 0.75em;
}

.goback {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0em 1em;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.gobackbtn {
    position: absolute;
    left: 0;
}

.notification {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 12;
    width: 320px;
    height: auto;
    height: auto;
    border: 2px solid var(--border-color);
    border-radius: 1em;
    background: var(--background-important);
}

.nothead {
    padding: 0.35em 1em;
    display: flex;
    align-items: center;
}

.notspace {
    width: 100%;
    height: 2px;
    background: var(--border-color);
}

.notbody {
    padding: 1em;
    color: var(--text-color)
}

.publishing {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color)
}

.question_side {
    width: 100%;
    height: 25vh;
    border: 2px solid var(--border-color);
    border-radius: 25px;

    padding: 1em;
    font-size: 1.1em;
    margin-bottom: .75em;

    margin-top: 0.75em;

    &:last-child {
        margin-top: 0em;
        margin-bottom: 5em;
    }
}

.navicon_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.boxes{
    margin-bottom: .75em;
    cursor: pointer;
}

.questiont_list{
    width: 100%;
    display: flex;
    flex-direction: column
}

.linee{
    width: 100%;
    height: 2px;
}

.detailed_questions{
    width: 100%;
    text-align: center;
}