.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10vh 0vh;
}

.topContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

#topTitle {
  padding: 4em 0em;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

#second {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}

#third {
  width: 40%;
  padding-bottom: 3rem;
  font-weight: 500;
  text-align: center;
}

.mainContainer form .contactInputs {
  font-family: 'Poppins';
  background: none;
  border: 2px solid var(--border-color);
  padding: .75em;
  font-weight: 500;
  border-radius: 1em;
  margin: 8px 0;
  width: 100%;
  font-size: 1.05em;
  width: 40%;
  transition: all ease-in-out 0.3s;

  &.six {
    height: 250px;
    resize: none;
    font-family: 'Poppins';
  }
  
  &:hover {
    background-color: var(--hover-color);
  }

  @media screen and (max-width: 900px) {
    width: 80%;
  }
  @media screen and (max-width: 1100px) {
    width: 80%;
  }
}

.mainContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.Contactforma {
  display: flex;
  justify-content: center;
  background: none;
  @media screen and (max-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}


.errorContact {
  color: rgb(189, 51, 51);
  margin: -5px 265px -3px 0;
  font-size: 10pt;
  padding: 0.2em;
  width: 280px;
  text-align: left;

  @media screen and (max-width: 900px) {
    width: 80%;
    margin: 0 auto;
  }

  @media screen and (max-width: 1100px) {
    width: 80%;
    margin: 0 auto;
  }
}