.mainContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 6rem;
}

.topContent {
  background-color: #936dfe;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

#topTitle {
  padding-top: 3rem;
  display: flex;
  justify-content: center;
}

#second {
  display: flex;
  justify-content: center;
  padding: 7rem 6.8rem 0 0;
  font-family: "Poppins";
}
#third {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  font-family: "Poppins";
  font-weight: 400;
  margin-top: -10px;
}

.contactInputs {
  border: 1px solid #936dfe;
  border-radius: 5px;
  background: none;
  box-shadow: 8px;
  width: 40%;
  margin-top: 10px;
  &.six {
    height: 250px;
    padding: 10px 0 0 14px;
    background: none;
    resize: none;
    margin-bottom: 10px;
  }
  &:hover {
    transition: 0.2s ease;
    font-size: 10.5pt;
  }
  &::-webkit-input-placeholder {
    font-family: "myFont", Arial, Helvetica, sans-serif;
  }
}

.Contactforma {
  display: flex;
  justify-content: center;
  background: none;
  margin: 2rem 0 2rem 0;
}

#contactSubmit {
  width: 150px;
  margin-left: 26rem;
}

.ContactError {
  margin: -5px;
  margin-right: 30px;
  font-family: Poppiins;
  color: red;
  font-size: 12pt;
  width: 37%;
  text-align: left;
}
