.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topContent {
  background-color: var(--purple);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-top: 8.9vh;
  border-top: 1px solid #ffffff50;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}

#topTitle {
  padding: 4em 0em;
  display: flex;
  justify-content: center;
  font-size: 2em;
}

#second {
  text-align: center;
  margin-top: 3.5em;
  margin-bottom: .75em;
}

#third {
  width: 40%;
  padding-bottom: 3rem;
  font-weight: 400;
  text-align: center;
}

.mainContainer form .contactInputs {
  background: none;
  border: .5px solid #33333315;
  padding: .65em .9em;
  border-radius: 1em;
  margin: 8px 0;
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.05em;
  width: 40%;
  transition: all ease-in-out 0.3s;

  &.six {
    height: 250px;
    resize: none;
  }
  
  &:hover {
    background-color: #f5f5f515;
    border: 0.5px solid #5928e550;
  }
  @media screen and (max-width: 900px) {
    width: 80%;
  }
}

.mainContainer form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.Contactforma {
  display: flex;
  justify-content: center;
  background: none;
  @media screen and (max-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

#contactSubmit {
  width: 150px;
  margin-left: 26rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 900px) {
    margin: 0 auto;
    margin: 5px 0 20px 0;
  }
}

.errorContact {
  color: rgb(189, 51, 51);
  margin: -5px 265px -3px 0;
  font-size: 10pt;
  padding: 0.2em;
  width: 280px;
  text-align: left;
  font-family: "Space Grotesk", sans-serif;
}
