.container {
    padding: 2.5% 4%;
    display: flex;
    flex-direction: column;
}

.welcome_text {
    font-family: "Integral CF Demi Bold";
}

.breadcrumb {
    margin-top: 0.5em;
    margin-left: 0.1em;
    font-size: 1.15em;
    // font-family: "Integral CF Demi Bold";
}

.main {
    display: flex;
    flex-direction: column;
}

.main_top {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}

.top_left {
    width: 49%;
    background: rgba(245, 245, 245, 0.15);
    border: 0.5px solid rgba(51, 51, 51, 0.1);
    height: 50vh;
    border-radius: 0.75em;
}

.top_right {
    width: 49%;
    background: rgba(245, 245, 245, 0.15);
    border: 0.5px solid rgba(51, 51, 51, 0.1);
    border-radius: 0.75em;
}

.top_right_title {
    font-size: 1.2em;
    padding: 0.35em 0.5em;
    border-bottom: 0.5px solid rgba(51, 51, 51, 0.1);
    font-family: "Integral CF Demi Bold";
}

.quizess {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
}

.quiz {
    width: 32%;
    background: rgba(245, 245, 245, 0.2);
    border: 0.5px solid rgba(51, 51, 51, 0.1);
    margin-bottom: 1%;
    border-radius: 0.85em;

}

.quiz_play {
    width: 93.5%;
    font-family: "Integral CF Demi Bold";
    font-size: 0.85em;
    padding: 0.6em 1.5em;
    background: #5928e5;
    color: #fff;
    border-radius: 100px;
    border: 0;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    margin: .5em;

    &:hover {
        opacity: 0.85;
    }
}

.quiz_image{
    max-width:100%;
    height: auto;
}

.quiz_title{
    font-family: "Integral CF Demi Bold";
    font-size: 1.3em;
    padding: .5em .5em 0em .5em;
}

.main_bottom{
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}

.bottom_left{
    width: 48.6%;
    background: rgba(245, 245, 245, 0.15);
    border: 0.5px solid rgba(51, 51, 51, 0.1);
    height: 50vh;
    border-radius: 0.75em;
}

.bottom_right{
    width: 48.6%;
    background: rgba(245, 245, 245, 0.15);
    border: 0.5px solid rgba(51, 51, 51, 0.1);
    height: 50vh;
    border-radius: 0.75em;
}

.quiz_description{
    padding: .5em;
}

.quizer_holder{
    display: flex;
    align-items: center;
    padding: .5em;
}

.quizer_name{
    font-size: 1em;
    margin-left: .5em;
    font-weight: bold;
}


.quizer_profile{
    width: 32px;
    border-radius: 100px;
    border: 2px solid var(--purple)
}