.container {
    width: 100%;
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
}

.slides {
    width: 100%;
    height: 30vh;
    border-top: 2px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}

.quiz_list {
    padding: 1em;
    display: flex;
}

.single_slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 80%;
    padding: 1em;
    margin-right: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    transition: all ease-in-out 0.3s;

    &:hover {
        background: rgba(141, 141, 141, 0.02);
    }

    position: relative;

}

.delete{
    position: absolute;
}


.single_slide_active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    background: rgba(141, 141, 141, 0.085);
}

.add_slide {
    width: 100%;
    background: #f5f5f520;
    height: 20%;
    padding: 1em;
    margin-bottom: 1em;
    border: 2px solid var(--border-color);
    border-radius: 0.75em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;

    &:hover {
        background: #f5f5f550;
    }
}

.empty_slide {
    width: 100%;
    background: #f5f5f520;
    height: 40%;
    padding: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}

.header {
    width: 100%;
    height: 7.5vh;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.empty_text {
    font-size: 1.15em;
}

.mini_title {
    font-size: 1.12em;
    font-family: "Integral CF Demi Bold";
}

.navicon_wrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: rgba(141, 141, 141, 0.09);
    }
}

.right_wrapper {
    width: 100%;
}

.current_slide {
    padding-top: 1%;
    height: 50vh - 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.current_question {
    width: 97%;
    height: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    border: 2px solid var(--border-color);
    position: relative;
    word-wrap: break-word;
}

.current_question_input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 70%;
    height: 100%;
    word-wrap: break-word;
    font-size: 2.75em;
    text-align: center;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 0;
    transition: 0.3s ease-in-out all;

    &::placeholder {
        color: #33333350;
    }
}

.option_active {
    width: 49.4567%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    margin-bottom: 1%;
    border: 1px solid var(--purple);
}

.options_wrapper {
    width: 100%;
    height: 35%;
    display: flex;
    padding: 1em;

    flex-wrap: wrap;
    justify-content: space-between;
}

.option {
    width: 49.4567%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75em;
    margin-bottom: 1%;
    border: 2px solid var(--border-color);
    transition: 0.3s ease-in-out all;

    &:hover {
        border: 0.25px solid rgba(141, 141, 141, 0.4);
    }
}

.option_input {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.7em;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 0;
    transition: 0.3s ease-in-out all;

    &::placeholder {
        color: #33333350;
    }

    &:active {
        color: 0.25px solid rgba(141, 141, 141, 0.4);
    }

    &:hover {
        color: 0.25px solid rgba(141, 141, 141, 0.4);
    }
}

.option_check {
    // border-left: 2px solid var(--border-color);
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option_check_icon {
    fill: var(--purple);
}

._container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--white);
    z-index: 1222;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18181895;
}

._modal {
    width: 33%;
    height: 67.5vh;
    background: #fff;
    box-shadow: #33333315 -0.25em 0.25em 1em;
    border-radius: 1em;
    position: relative;
    padding: 1em 1em;
    border: 2px solid var(--border-color);

    overflow: scroll;
}

._modal_small {
    width: 33%;
    height: 50vh;
    background: #fff;
    box-shadow: #33333315 -0.25em 0.25em 1em;
    border-radius: 1em;
    position: relative;
    padding: 1em 1em;
    border: 2px solid var(--border-color);

    overflow: scroll;
}

._close_icon {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.2345em;
    fill: black;
    stroke: black;
    width: 2em;
    height: 2em;
    border-radius: 120px;

    &:hover {
        background: #33333310;
    }
}

._modal_title {
    font-size: 1.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid var(--border-color);
}

._form_wrapper {
    margin: 1em 0em;
}

._form_label_name {
    margin-top: 1em;
    margin-left: 0.5em;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bold;
}

._form_input {
    width: 100%;
    margin-top: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 1.15em;
    padding: 0.65em 0.75em;
    border-radius: 1em;
    border: 0.5px solid white;
    margin-right: 0.25em;
    transition: all ease-in-out 0.3s;
    cursor: pointer;

    border: 2px solid var(--border-color);

    &:active {
        border: 0.5px solid rgba(125, 99, 196, 0.314);
    }

    &:hover {
        background: #f1f1f130;
    }
}

.savingit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.publishing_title {
    font-family: "Integral CF Demi Bold";
}

.copy_code {
    width: 100%;
    padding: 1em 2.25em 1em 1em;
    border-radius: 0.85em;
    background: transparent;
    border: 2px solid var(--border-color);
    transition: .3s ease-in-out all;
    position: relative;

    &:hover {
        background: rgba(141, 141, 141, .050);
        border: 0.25px solid rgba(141, 141, 141, 0.125);
    }

    user-select: none;

    margin: 1em 0em;

}

.copy_code_icon{
    position: absolute;
    top: 30%;
    right: .75em;
}