.section1 {
    width: 100%;
    height: auto;
    background: var(--background-less-important);
    position: relative;
    display: flex;
}

.section2 {
    width: 100%;
    height: auto;
    background: var(--background-less-important);
    position: relative;
    display: flex;
}

.section3 {
    width: 100%;
    height: auto;
    background: var(--background-less-important);
    position: relative;
    display: flex;
}

.section4 {
    width: 100%;
    height: auto;
    background: var(--background-less-important);
    position: relative;
    display: flex;
}

.section5 {
    width: 100%;
    height: auto;
    background: #d67a99;
    position: relative;
    display: flex;
}

.line1 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10%;
}

.line2 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66%;
}

.line3 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66% + 26.66%;
}

.line4 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66% + 26.66% + 26.66%;
}

.line5 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 90%;
}

.hero {
    padding-top: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hand {
    height: 70%;
    object-fit: cover;
    position: absolute;
    bottom: -5%;
    transform: rotateX(-10);
}

.title {
    width: 65%;
    padding-top: 2.5%;
    text-align: center;
    font-size: 4.5em;
    font-family: "Markprobold";
    font-weight: bold;
    z-index: 1;
    line-height: 1;
    color: var(--text-color);
    -webkit-text-stroke: 2.5px var(--text-color);

    @media screen and (max-width: 800px) {
        width: 80%;
        font-size: 4em;
        padding-top: 10%;
        -webkit-text-stroke: 1px var(--text-color);
    }

    @media screen and (max-width: 800px) {
        width: 80%;
        font-size: 3em;
        padding-top: 25%;
        -webkit-text-stroke: 1px var(--text-color);
    }
}

.cta_title {
    width: 80%;
    text-align: center;
    font-size: 3.5em;
    font-family: "Markprobold";
    font-weight: bold;
    z-index: 1;
    margin-bottom: 0.65em;
    line-height: 1;
    color: var(--text-color);
    -webkit-text-stroke: 2px var(--text-color);
}

.s3title {
    text-align: center;
    font-size: 2.5em;
    margin-top: -5%;
    font-family: "Markprobold";
    font-weight: bold;
    z-index: 1;
    line-height: 1;
    color: var(--text-color);
    -webkit-text-stroke: 1px var(--text-color);
}

.description {
    width: 50%;
    font-size: 1.5em;
    font-family: "Markpro";
    text-align: center;
    margin: 2em 0em;
    z-index: 1;
    color: var(--text-color-less);

    @media screen and (max-width: 1200px) {
        width: 90%;
    }
}

.cta_description {
    width: 100%;
    font-size: 1.4em;
    font-family: "Markpro";
    text-align: center;
    z-index: 1;
    color: var(--text-color-less);
}

.s3description {
    width: 50%;
    font-size: 1.25em;
    font-family: "Markpro";
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    z-index: 1;
    color: var(--text-color-less);
}

.currentContent {
    width: 100%;
    text-align: center;
    font-family: "Markpromedium";
    font-size: 1.4em;
    color: var(--text-color);
    z-index: 1;
}

.web {
    width: 97%;
    z-index: 1;
}

.s2switcher {
    display: flex;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-around;
}

.switcherbox {
    font-size: 1.25em;
    font-family: "Markpromedium";
    cursor: pointer;
    padding: 1em;
    border-bottom: 5px solid transparent;
    transition: all ease-in-out 0.3s;

    &:hover {
        background: var(--hover-color);
    }
}

.s2content {
    width: 70%;
    z-index: 1;
}

.btn_primary {
    background: var(--button-bg);
    padding: 0.55em 1.6em;
    font-size: 1.15em;
    border-radius: 1000px;
    color: var(--button-text);
    border: 0;
    margin-left: 0.5em;
    font-family: "Markpromedium";
    cursor: pointer;
    border: 2px solid var(--button-bg);
    transition: all ease-in-out 0.3s;

    &:hover {
        color: var(--button-bg);
        background: transparent;
        border: 2px solid var(--button-bg);
    }
}

.brands {
    width: 80%;
    z-index: 1;
}

.brand {
    padding: 1em;
}

.slider {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slidercontainer {
    width: 80%;
    height: 100%;
    background: royalblue;
    border-radius: 10em;
    margin-bottom: 10%;
}

.goright {
    position: absolute;
    top: 50%;
    right: 1em;
}

.goleft {
    position: absolute;
    top: 50%;
    left: 1em;
}
