.footer {
    width: 100%;
    position: relative;
    background: var(--background-less-important);
}

.foostart {
    border-top: 2px solid var(--border-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.fooend {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--border-color);
    padding-bottom: 1em;
    padding-top: 1em;
    font-family: "Markpro";
    font-size: 1.1em;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.fooone {
    width: 33.3333%;
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footwo {
    width: 33.3333%;
    padding: 2em 0em;
}

.foothree {
    width: 33.3333%;
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    font-family: "Markpro";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    height: 2.75em;
    fill: var(--text-color);
}

.description {
    font-family: "Markpro";
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 1px;
    text-align: center;
}

.footbox {
    padding: 0.5em 1em;
    font-size: 1.1em;
    border-radius: 1000px;
    border: 2px solid var(--border-color);
    background: transparent;
    color: var(--text-color);
}

.footboxchild {
    padding: 0.5em 1em;
    font-size: 1.1em;
    border-radius: 1000px;
    border: 2px solid var(--border-color);
    background: transparent;
    color: var(--text-color);
}

.linkthree {
    margin-bottom: 0.3em;
    text-align: start;
    font-size: 1.1em;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
}

.line1 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10%;
}

.line2 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66%;
}

.line3 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66% + 26.66%;
}

.line4 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 10% + 26.66% + 26.66% + 26.66%;
}

.line5 {
    width: 2px;
    height: 100%;
    background: var(--line-color);
    position: absolute;
    left: 90%;
}

.swfit {
    color: var(--text-color);
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    margin-top: 1em;
}

.icon {
    width: 1.5em;
    cursor: pointer;
    margin-right: 1.25em;

    &:hover {
        opacity: 0.75;
    }

    fill: var(--icon-border);
}

.modal_container {
    width: 100vw;
    height: 100vh;
    background: #5a505090;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 133;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    overflow: none;
}

.modal_box {
    width: 23%;
    height: 40%;
    background: var(--background-important);
    border-radius: 1em;
    border: 2px solid var(--border-color);
}

.modal_header {
    width: 100%;
    padding: 0.5em 1em;
    border-bottom: 2px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal_body {
    padding: 1em 1em;
}

.modal_title {
    font-size: 1.3em;
    font-weight: 600;
    color: var(--text-color);
}

._form_wrapper {
    margin: 1em 0em;
}

._form_label_name {
    margin-top: 1em;
    margin-left: 0.25em;
    font-size: 0.8em;
    letter-spacing: 0.1px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: uppercase;

    &:last-child {
        margin-top: 0.5em;
    }
}

._form_input {
    width: 100%;
    margin-top: 0.3em;
    font-family: "Poppins", sans-serif;
    font-size: 1.15em;
    padding: 0.65em 0.75em;
    border-radius: 1em;
    border: 2px solid var(--border-color);
    margin-right: 0.25em;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    background: transparent;
    color: var(--text-color);

    &:active {
        border: 0.5px solid rgba(125, 99, 196, 0.314);
    }

    &:hover {
        background: #f1f1f130;
    }
}

.closemodal {
    width: 2.15em;
    padding: 0.3em;
    transition: all ease-in-out 0.3s;
    border-radius: 100%;
    cursor: pointer;

    &:hover {
        background: var(--hover-color);
    }
}

.logocontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
