.button_fill {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: #fff;
    border: .5px solid #fff;
    color: var(--purple);
    border-radius: 100px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.button_fill:hover {
    background: var(--purple);
    color: #fff;
    border: .5px solid #fff;
}

.button_faded {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: #ffffff25;
    border: .5px solid #ffffff25;
    color: #fff;
    border-radius: 100px;
    transition: all ease-in-out .5s;
    cursor: pointer;
    margin-right: 1em;
}

.button_faded:hover {
    background: #ffffff50;
    color: var(--white);
    border: .5px solid #fff;
}


.cta_hero{
    font-family: 'Integral CF Demi Bold';
    width: 50%;
    font-size: 1.1em;
    padding: 1em 1.9em;
    background: #fff;
    color: var(--purple);
    border: .5px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .5s;

    @media screen and (max-width: 900px) {
        width: 100%;
        text-align: center;
    }
}

.cta_hero:hover{
    background: var(--purple);
    color: #fff;
    border: .5px solid #fff;
}

.button_fill_purple {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: var(--purple);
    color: #fff;
    border: .5px solid var(--purple);
    border-radius: 100px;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.button_fill_purple:hover {
    background: #fff;
    color: var(--purple);
    border: .5px solid var(--purple);
}