.button_fill {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: #fff;
    color: #5928e5;
    border-radius: 100px;
    border: 0;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.button_fill:hover {
    letter-spacing: 1px;
}

.button_faded {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: #ffffff25;
    color: #fff;
    border: 0;
    border-radius: 100px;
    transition: all ease-in-out .5s;
    cursor: pointer;
    margin-right: 1em;
}

.button_faded:hover {
    letter-spacing: 1px;
}


.cta_hero{
    font-family: 'Integral CF Demi Bold';
    width: 50%;
    font-size: 1.1em;
    padding: 1em 1.9em;
    background: #fff;
    color: #5928E5;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out .5s;
}

.cta_hero:hover{
    letter-spacing: 1px;
}

.button_fill_purple {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: #5928e5;
    color: #fff;
    border-radius: 100px;
    border: 0;
    transition: all ease-in-out .5s;
    cursor: pointer;
}

.button_fill_purple:hover {
    letter-spacing: 1px;
}