.button_fill {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: var(--button-bg);
    border: 0.5px solid var(--button-text);
    color: var(--button-text);
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}

.button_faded {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: red;
    border: 0.5px solid red; //check this
    color: var(--button-text);
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    margin-right: 1em;

    &:hover {
        background: var(--border-color); //check this
        color: var(--white);
        border: 0.5px solid var(--button-text);
    }
}

.button_fill_purple {
    font-family: "Integral CF Demi Bold";
    font-size: 0.9em;
    padding: 0.775em 1.5em;
    background: var(--button-bg);
    color: var(--button-text);
    border: 0.5px solid var(--button-bg);
    border-radius: 100px;
    transition: all ease-in-out 0.5s;
    cursor: pointer;

    &:hover {
        background: var(--button-text);
        color: var(--button-bg);
        border: 0.5px solid var(--button-bg);
    }
}
