.container {
    width: 100%;
    height: 100vh;
    padding: 1em 3em;
    display: flex;
}

.left {
    height: 85vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    height: 85vh !important;
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative !important;
    overflow: hidden !important;
    z-index: 1 !important;
}

.lottie{
    display: absolute !important;
    flex-shrink: 0 !important;
    min-width: 100% !important;
    min-height: 100% !important;
    z-index: 1 !important;
}

.title {
    font-family: "Integral CF Extra";
    font-size: 5.5em;
    letter-spacing: 1px;
    line-height: 1.15em;
    color: var(--text-color);
    z-index: 2;

    @media screen and (max-width: 900px) {
        width: 70%;
        font-size: 4.5em;
        text-align: center;
    }

    @media screen and (max-width: 900px) {
        width: 70%;
        font-size: 4.5em;
        text-align: center;
    }

    @media screen and (max-width: 600px) {
        width: 70%;
        font-size: 3.75em;
        text-align: center;
    }
}

.description {
    width: 80%;
    font-size: 1.1em;
    letter-spacing: 0.5px;
    color: var(--text-color);
    margin: 0.6em 0em 0.9em 0em;

    @media screen and (max-width: 900px) {
        font-size: 1.3em;
        width: 70%;
        text-align: center;
    }
}

.hero_cta {
    font-family: "Integral CF Demi Bold";
    font-size: 1.1em;
    padding: 1em 1.9em;
    background: var(--button-bg);
    color: var(--button-text);
    border: 0.5px solid var(--button-text);
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    transition: all ease-in-out 0.5s;

    @media screen and (max-width: 900px) {
        width: 100%;
        text-align: center;
    }

    &:hover {
        opacity: 0.9;
    }
}