@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
  font-family: "Integral CF Extra";
  src: local("Integral CF Extra"),
    local("../../../assets/fonts/Integral/IntegralCF-ExtraBold"),
    url("../../../assets/fonts/Integral/IntegralCF-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Integral CF Extra Bold";
  src: local("Integral CF Extra Bold"),
    local("../../../assets/fonts/Integral/IntegralCF-ExtraBold"),
    url("../../../assets/fonts/Integral/IntegralCF-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
    font-family: 'Integral CF';
    src: local('Integral CF'), local('../../../assets/fonts/Integral/IntegralCF-Bold'),
        url('../../../assets/fonts/Integral/IntegralCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'Integral CF old';
  src: local('Integral CF Bold'), local('../../../assets/fonts/Integral/IntegralCF-Bold'),
      url('../../../assets/fonts/Integral/IntegralCF-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF"),
    local("../../../assets/fonts/Integral/IntegralCF-Regular"),
    url("../../../assets/fonts/Integral/IntegralCF-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF Medium';
  src: local('Integral CF Medium'), local('../../../assets/fonts/Integral/IntegralCF-Medium'),
      url('../../../assets/fonts/Integral/IntegralCF-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
    font-family: 'Integral CF Demi Bold';
    src: local('Integral CF Demi Bold'), local('../../../assets/fonts/Integral/IntegralCF-DemiBold'),
        url('../../../assets/fonts/Integral/IntegralCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'Integral CF Demi';
  src: local('Integral CF Demi'), local('../../../assets/fonts/Integral/IntegralCF-DemiBold'),
      url('../../../assets/fonts/Integral/IntegralCF-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Heavy";
  src: local("Integral CF Heavy"),
    local("../../../assets/fonts/Integral/IntegralCF-Heavy"),
    url("../../../assets/fonts/Integral/IntegralCF-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF"),
    local("../../../assets/fonts/Integral/IntegralCF-Heavy"),
    url("../../../assets/fonts/Integral/IntegralCF-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Markprobold";
  src: local("Markprobold"),
    local("../../../assets/fonts/Markpro/Markprobold.ttf"),
    url("../../../assets/fonts/Markpro/Markprobold.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Markpro";
  src: local("Markpro"),
    local("../../../assets/fonts/Markpro/Markpro.ttf"),
    url("../../../assets/fonts/Markpro/Markpro.ttf")
      format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Markpromedium";
  src: local("Markpromedium"),
    local("../../../assets/fonts/Markpro/Markpromedium.ttf"),
    url("../../../assets/fonts/Markpro/Markpromedium.ttf")
      format("truetype");
  font-style: normal;
}