@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "Integral CF Extra";
  src: local("Integral CF Extra Bold"),
    local("../../../assets/fonts/Integral/IntegralCF-ExtraBold"),
    url("../../../assets/fonts/Integral/IntegralCF-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Heavy Oblique";
  src: local("Integral CF Heavy Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-HeavyOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-HeavyOblique.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Bold"),
    local("../../../assets/fonts/Integral/IntegralCF-Bold"),
    url("../../../assets/fonts/Integral/IntegralCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF"),
    local("../../../assets/fonts/Integral/IntegralCF-Regular"),
    url("../../../assets/fonts/Integral/IntegralCF-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Oblique";
  src: local("Integral CF Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-RegularOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-RegularOblique.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Medium Oblique";
  src: local("Integral CF Medium Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-MediumOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-MediumOblique.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Medium"),
    local("../../../assets/fonts/Integral/IntegralCF-Medium"),
    url("../../../assets/fonts/Integral/IntegralCF-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Bold Oblique";
  src: local("Integral CF Bold Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-BoldOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-BoldOblique.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi Bold Oblique";
  src: local("Integral CF Demi Bold Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-DemiBoldOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-DemiBoldOblique.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Integral CF Demi Bold";
  src: local("Integral CF Demi Bold"),
    local("../../../assets/fonts/Integral/IntegralCF-DemiBold"),
    url("../../../assets/fonts/Integral/IntegralCF-DemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF";
  src: local("Integral CF Heavy"),
    local("../../../assets/fonts/Integral/IntegralCF-Heavy"),
    url("../../../assets/fonts/Integral/IntegralCF-Heavy.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Integral CF Extra Bold Oblique";
  src: local("Integral CF Extra Bold Oblique"),
    local("../../../assets/fonts/Integral/IntegralCF-ExtraBoldOblique"),
    url("../../../assets/fonts/Integral/IntegralCF-ExtraBoldOblique.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
}
