:root,
#lightmode {
  --purple: #5928e5;
  --white: #fff;
  --background-less-important: #fcfcfc;
  --background-important: #ffffff;
  --background-auth: #111b25 !important;
  --border-color: #f3f3f3;
  --hover-color: #f3f3f3;
  --icon-inside: #a4adb7;
  --icon-border: #151e28;
  --text-color: #151e28;
  --border-active: #f3f3f3;
  --button-bg: #0d151d;
  --button-text: #f3f3f3;
  --animate: 0.3456789s ease-in-out all;
}

#darkmode {
  --background-less-important: #0d151d !important;
  --background-important: #111b25 !important;
  --border-color: #36424d !important; //#141d25
  --hover-color: #263d5360 !important;
  --icon-inside: #9b9ea3 !important;
  --icon-border: #fff !important;
  --text-color: #f3f3f3;
  --button-bg: red;
  --border-active: #f3f3f3;
  --button-bg: #f3f3f3;
  --button-text: #0d151d;
  --animate: 0.3456789s ease-in-out all;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  color: var(--text-color) !important;
  background: var(--background-important) !important;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.body {
  color: var(--text-color) !important;
  background: var(--background-important) !important;
  width: 100vw;
}

.body-dash {
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
}

#view_active {
  transition: all ease-in-out 0.3s;
  border: 2px solid var(--border-color);

  &:hover {
    background: var(--hover-color);
  }
}

#view_inactive {
  transition: all ease-in-out 0.3s;
  // border: 2px solid var(--border-color);
  background: transparent;

  &:hover {
    background: var(--hover-color);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5928e570;
}

#nav-item {
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.75em;
  margin-bottom: 0.5em;
  transition: var(--animate);
  position: relative;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}

#nav-item-profile {
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.75em;
  margin-bottom: 0.5em;
  transition: var(--animate);
  position: relative;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }
