* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  color: var(--text-color) !important;
  background: var(--background-important) !important;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.body {
  color: var(--text-color) !important;
  background: var(--background-important) !important;
  width: 100vw;
}

.body-dash {
  width: 100vw !important;
  height: 100vh !important;
  overflow-y: scroll;
}

#view_active {
  transition: all ease-in-out 0.3s;
  border: 2px solid var(--border-color);

  &:hover {
    background: var(--hover-color);
  }
}

#view_inactive {
  transition: all ease-in-out 0.3s;
  // border: 2px solid var(--border-color);
  background: transparent;

  &:hover {
    background: var(--hover-color);
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5928e570;
}

#nav-item {
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.75em;
  margin-bottom: 0.5em;
  transition: var(--animate);
  position: relative;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}

#nav-item-profile {
  display: flex;
  align-items: center;
  padding: 0.75em;
  border-radius: 0.75em;
  margin-bottom: 0.5em;
  transition: var(--animate);
  position: relative;
  cursor: pointer;

  &:hover {
    background: var(--hover-color);
  }
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }


#ok{
  font-size: 1em !important
}

#show{
  display: block !important;
}

#none{
  display: none !important;
}

#isOpen{
  transition: ease-in-out all 1s;
  width: 22.5% !important;
}

#notOpen{
  transition: ease-in-out all 1s;
  width: auto;
}

#shadow{
  box-shadow: 0 0 1.8rem rgb(0 0 0 / 15%) !important;
  background: var(--background-important) !important;
  transition: all ease-in-out .3s;
  z-index: 5;
}

#isActiveBox{
  border-bottom: 5px solid var(--border-color);
  font-family: "Markprobold";
}

#brand{
  fill: var(--border-color) !important;
}