:root,
#lightmode {
  --background-less-important: #fcfcfc;
  --background-important: #ffffff;
  --border-color: #f3f3f3;
  --line-color: #f3f3f3;
  --hover-color: #f3f3f3;
  --icon-inside: #a4adb7;
  --icon-border: #2B2A35;
  --text-color: #2B2A35;
  --text-color-less: #79787c;
  --border-active: #f3f3f3;
  --button-bg: #0d151d;
  --button-text: #f3f3f3;
  --animate: 0.3456789s ease-in-out all;
}

#darkmode {
  --background-less-important: #0d151d !important;
  --background-important: #111b25 !important;
  --border-color: #36424d !important;
  --line-color: #36424d30;
  --hover-color: #263d5360 !important;
  --icon-inside: #9b9ea3 !important;
  --icon-border: #fff !important;
  --text-color: #f3f3f3;
  --text-color-less: rgb(148, 147, 151);
  --border-active: #f3f3f3;
  --button-bg: #f3f3f3;
  --button-text: #0d151d;
  --animate: 0.3456789s ease-in-out all;
}