.aboutcontainer {
    padding: 45px 0 74px;
    max-width: calc(1920px - 2 * 278px);
    margin: 0 auto;
    .about-title {
      margin: 150px auto;
      margin-bottom: 20px;
      text-align: center;
    }
    p {
      margin-top: 50px;
      font-size: 20px;
      line-height: 35px;
    }
    .divider {
      margin: auto;
      background-color: #5928e5;
      width: 10%;
      height: 2px;
      border-radius: 5px;
    }
  }