.mainProfileCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

.topProfileCont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  & h2 {
    font-family: "Integral CF";
    color: #5928e5;
    margin: 3rem 0 3rem 0;
    text-align: left;
    @media screen and (max-width: 900px) {
      display: flex;
      justify-content: center;
      font-size: medium;
    }
  }
}

.profilePicCont {
  &:hover {
    .profilePicOverlay {
      opacity: 50%;
      transition: 0.3s ease;
    }
  }
}

.profilePicOverlay {
  width: 250px;
  height: 250px;
  position: absolute;
  border: 5px solid #5928e5;
  border-radius: 50%;
  margin-right: 5rem;
  transform: translateX(-66%);
  background-color: black;
  opacity: 0;
  & img {
    width: 45px;
    margin-top: 40%;
    margin-left: 42%;
    &:hover {
      cursor: pointer;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  & input {
    outline: none;
    color: transparent;
    display: none;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }
}

.coverCont {
  border-radius: 10px;
  width: 100%;
  height: 325px;
  & button {
    position: absolute;
    width: 100px;
    top: 40%;
    left: 87.5%;
  }
  &:hover {
    .coverPicOverlay {
      opacity: 50%;
      transition: 0.3s ease;
    }
  }
}

.coverPicOverlay {
  width: 1350px;
  height: 325px;
  border-radius: 10px;
  background-color: black;
  position: absolute;
  opacity: 0;
  top: 13%;
  object-fit: cover;
  & img {
    width: 65px;
    margin-top: 10%;
    margin-left: 45%;
    &:hover {
      cursor: pointer;
    }
  }
  & input {
    outline: none;
    color: transparent;
    display: none;
    &::-webkit-file-upload-button {
      visibility: hidden;
    }
  }
  @media screen and (max-width: 900px) {
    display: none;
  }
}

.coverPic {
  width: 1350px;
  height: 325px;
  border-radius: 10px;
  @media screen and (max-width: 900px) {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
}

.bottomProfileCont {
  display: flex;
  flex-direction: row;
  @media screen and (max-width: 900px) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.leftBottomProfileCont {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: translateY(-25%);

  @media screen and (max-width: 900px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  & #saveProfilePic {
    position: absolute;
    width: 100px;
    left: 34%;
    top: 39%;
  }
  & input {
    width: 250px;
    height: 250px;
    border: 5px solid #5928e5;
    border-radius: 50%;
    margin-right: 5rem;

    @media screen and (max-width: 900px) {
      margin: 0;
      width: 100px;
      height: 100px;
      transform: translateY(40%);
      margin-bottom: 4em;
    }
  }
  & h1 {
    font-family: Integral CF;
    color: #5928e5;
    margin-top: 2rem;
    align-self: flex-start;
    margin-left: 13%;
    @media screen and (max-width: 900px) {
      font-size: medium;
      margin-bottom: 5px;
      margin: 0 auto;
    }
  }
  & h4 {
    font-weight: 500;
    font-size: 12pt;
    font-family: "Poppins";
    align-self: flex-start;
    margin-left: 13%;
    @media screen and (max-width: 900px) {
      font-size: 11pt;
      margin-bottom: 1%;
      margin: 0 auto;
    }
  }
  & p {
    width: 80%;
    font-family: "Poppins";
    align-self: flex-start;
    margin-left: 13%;
    @media screen and (max-width: 900px) {
      text-align: justify;
      font-size: small;
    }
  }
  & button {
    margin-top: 2rem;
    font-family: Integral CF;
    font-size: 10pt;
    width: 80%;
    @media screen and (max-width: 900px) {
      width: 40%;
      margin: 0 auto;
      margin: 20px 0 50px 0;
    }
  }
}

.rightBottomProfileCont {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: -46px;
  & h2 {
    font-family: Integral CF;
    margin: 1em 0 1em 4em;
    @media screen and (max-width: 900px) {
      display: flex;
      justify-content: center;
      font-size: medium;
    }
  }
}

#quizImage {
  width: 250px;
  border-radius: 15px;
  @media screen and (max-width: 900px) {
    width: 100px;
    margin: 2% 0 0 30%;
  }
}

.profileQuizes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  @media screen and (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 100%;
  }
}

.QuizBody {
  border: 0.5px solid gray;
  border-radius: 15px;
  margin-right: 0.5em;
  @media screen and (max-width: 900px) {
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;

    & h3 {
      font-size: medium;
      margin-left: 10%;
      margin-bottom: 5px;
    }
    &p {
      font-size: small;
    }
  }
  & h3 {
    font-family: Integral CF;
    color: #5928e5;
    padding: 0 5px 0 5px;
  }
  & p {
    width: 250px;
    font-family: "Poppins";
    font-size: 9pt;
    padding: 0 5px 0 5px;
  }
}

.quizBottom {
  display: flex;
  flex-direction: row;
  margin: 50px 0 10px 0;
  padding-left: 5px;
  & img {
    width: 40px;
  }
  .quizBottomRight {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    @media screen and (max-width: 900px) {
      & #quizMadeBy {
        font-size: small;
      }
      & h5 {
        font-size: small;
        padding-bottom: 5px;
      }
    }

    & #quizMadeBy {
      color: gray;
      font-family: "Poppins";
    }
    & h5 {
      color: #5928e5;
      font-family: Integral CF;
    }
  }
}
